.HeroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200vh;
}

.coffeebeansimg {
    position: absolute;
    transition: position 0.3s;
    top: 10;
    width: 30%;
    height: 40%;
}

.coffeebeansimg.sticky {
    position: fixed;
    margin-top: -36%;
}

@media only screen and (min-width: 0px) and (max-width: 1024px) {

    .coffeebeansimg {
       
        width: 50%;
        
    }

    .coffeebeansimg.sticky {
        margin-top: -248%;
    }

}